---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ container_group.serviceaccount }}
  namespace: {{ container_group.namespace }}
---
kind: Role
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: {{ container_group.serviceaccount }}-role
  namespace: {{ container_group.namespace}}
rules:
- apiGroups: [""]
  resources: ["pods"]
  verbs: ["get", "list", "watch", "create", "update", "patch", "delete"]
- apiGroups: [""]
  resources: ["pods/log"]
  verbs: ["get", "list", "watch", "create", "update", "patch", "delete"]
- apiGroups: [""]
  resources: ["pods/attach"]
  verbs: ["get", "list", "watch", "create", "update", "patch", "delete"]
---
kind: RoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: {{ container_group.serviceaccount }}-rolebinding
  namespace: {{ container_group.namespace }}
subjects:
- kind: ServiceAccount
  name: {{ container_group.serviceaccount }}
  namespace: {{ container_group.namespace }}
roleRef:
  kind: Role
  name: {{ container_group.serviceaccount }}-role
  apiGroup: rbac.authorization.k8s.io
